.App {
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
}
.main {
  background-color: #0f172a;
}

.card-img-top {
  height: 24rem;
}

.card {
  color: #e2e8f0;
  background-color: #475569;
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #475569;
}

.rate {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#review-container {
  list-style: none;
  overflow-y: scroll;
  height: 50px;
  font-style: italic;
}
